* { padding: 0; margin: 0; font-size: 40px; }
body { padding: 10px 20px; height: 100%; width: 100%}
html{
	height: 100%;
}
label { margin: 10px 0px; display: inline-block;}
.clearBoth { clear: both; }
#app {height: 100%;width: 100%;overflow: hidden; position: relative;}
.icon.pepper {
	display: inline-block;
	background-image: url('./pepper.jpg');
	width: 50px;
	height: 50px;
}
.title {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	font-size: 2em;
}
.footer{
	width: 100%;
	background: #fff; 
	position: absolute;
	bottom: 0px;
	left: 0px;
	bottom: 0px;
	height: 100px;
}
.nav { 
	/*position: absolute;
	bottom: 0px;*/
	/*width: 100%;*/
	list-style: none;
	/*display: none;*/
}
.nav li {
	color: black;
	text-decoration: none;
	float: left;
	font-size: 2em;
	font-weight: bold;
	width: 50%;
	text-align: center;
}
.info_wrap p{
	line-height: 50px;
}
.food_wrap{
	padding-top: 20px;
}
.food_wrap textarea{
	width: 100%;
	margin: 10px 0;
}
.food_wrap select{
	width: 200px;
}
.food_avatar_wrap{
	text-align: center;
}
.food_avatar{
	height: 400px;
}
.btn_small{
	width: 50px;
}
.btn_submit {
	width: 50%;
	display: inline-block;
	font-size: 50px;
}
.food_list{
	list-style: none;
	height: 100%;
	/*margin-top: -116px;*/
	display: block;
	overflow: auto;
}
.food_list .item {
	border: 1px solid #CCC;
	margin: 20px 0px;
	padding: 10px;
	cursor: pointer;
}
.food_list .item:active{
	background: #CCC;
}
.food_list .item img{
	width: 200px;
	height: 200px;
	margin-right: 50px;
	display: inline-block;
	float: left;
}
.food_list .item h3,p{
	margin: 10px 0px 10px 250px;
}
.food_list .item h3{
	font-size: 50px;
}
.food_list .item p{
	color: #666;
}

.praise_oppose{
	width: 100%;
	position: absolute;
	bottom: 200px;
}
.praise_oppose_center{
	margin: 0 auto;
	width: 600px;
}
.praise_img,.oppose_img{
	width: 220px;
	height: 220px;
	display: inline-block;
}
.praise,.oppose{
	width:220px;
	display: inline-block;
	position: relative;
}
.oppose{
	color: #000;
}
.praise{
	margin-right: 50px;
	color: #EB4F38;
}
.add_num,.reduce_num{
	position: absolute;
	top: 0px;
	left: 80px;
	display: none;
}
.praise_txt,.oppose_txt{
	display: inline-block;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}
